# compiled objects
*.o

# out-of-tree build artifacts
build/

# compiled graphics
*.1bpp
*.2bpp
*.lz
*.gbcpal
*.dimensions
*.animated.tilemap
*.sgb.tilemap
gfx/pokemon/*/bitmask.asm
gfx/pokemon/*/frames.asm
!gfx/pokemon/unown/bitmask.asm
!gfx/pokemon/unown/frames.asm

# compiled roms
*.gbc
*.gb
*.patch

# rgbds extras
*.map
*.sym

# tool binaries
*.exe

# precompiled python
*.pyc
*$py.class

# save game files
*.sgm
*.sav
*.rtc
*.sn*
*.sa*
*.sg1
